---
layout: default
---

<div class="post-content">
  <h1>
    {{ page.title }}
  </h1>
  {% if site.hide_post_date == false %}
    {% include post-date.html %}
  {% endif %}
  {% if page.image %}
    <div class="featured-image">
      <img src="{{ site.github.url }}/assets/img/{{ page.image }}">
    </div>
  {% endif %}
  <aside class="sidebar">
    <nav id="toc">
      <!-- 目录将由 JavaScript 动态生成 -->
    </nav>
  </aside>
  <article>
    {{ content }}
  </article>
  {% if site.hide_post_share != true %}
    {% include post-share.html %}
  {% endif %}
  {% unless page.hide_related_posts %}
    {% include related-posts.html %}
  {% endunless %}
  {% if site.data.settings.disqus.comments %}
    {% include disqus.html %}
  {% endif %}
  <div class="back-to-home">
    <a href="{{ site.github.url }}/">← Back to HOME</a>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const sidebar = document.querySelector('.sidebar');

    if (window.innerWidth <= 768) {
      function adjustSidebarPosition() {
        const scrollPosition = window.scrollY;
        const windowHeight = window.innerHeight;
        const documentHeight = document.documentElement.scrollHeight;
        const bottomThreshold = 100;

        if (scrollPosition + windowHeight >= documentHeight - bottomThreshold) {
          sidebar.classList.add('top-position');
        } else {
          sidebar.classList.remove('top-position');
        }
      }

      window.addEventListener('scroll', adjustSidebarPosition);
      window.addEventListener('resize', adjustSidebarPosition);
      adjustSidebarPosition();
    }
  });
</script>